<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ipn.mx.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">
        <activity
            android:name=".strategies.StrategyPhrases"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signs.SignUp1"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".signs.SignUp2"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".signs.SignUpStrengths"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".User"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".HistoryDetection"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".signs.Login"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".InfoAppView"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".updateinfo.UpdateInfo"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".updateinfo.UpdateStrengths"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".updateinfo.CodePassword"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".updateinfo.ForgetPassword"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".updateinfo.UpdatePassword"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".neuralfit.FitConnect"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".neuralfit.FitNeural1"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".neuralfit.FitNeural2"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".neuralfit.IncompleteTraining"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".neuralfit.TrainNegativeVisual"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".neuralfit.TrainNegativePersonal"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".neuralfit.TrainFinished"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".neuralfit.EndNegativeSection"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".neuralfit.TrainPositiveVisual"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".neuralfit.TrainPositivePersonal"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".tutorial.TutorialHeadset"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".tutorial.TutorialTraining"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ManualDetection"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".strategies.StrategyBreathing"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".strategies.StrategyStrength"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
<!--        <activity-->
<!--            android:name=".strategies.StrategyPhrases"-->
<!--            android:theme="@style/Theme.AppCompat.NoActionBar" />-->
        <activity
            android:name=".strategies.StrategyTemporal"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- Vistas para hacer pruebas -->
        <activity
            android:name=".test.ClickNotification"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".SettingHeadset"
            android:theme="@style/Theme.AppCompat.NoActionBar" />


        <service
            android:name=".notification.handlers.GenericNotificationService"
            android:exported="false" />


        <service
            android:name=".service.HeadsetConnectionService"
            android:exported="false" />

        <service
            android:name=".service.ClasifyService"
            android:exported="false" />

    </application>

</manifest>